@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.repositories_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.repositories_item {
    display: grid;
    grid-template-columns: 5fr .1fr;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    transition: all .2s linear;
}

.repositories_item:not(:last-child) {
    margin-bottom: 15px;
}

.repositories_item:hover {
    background-color: #f4f1f1;
    border-color: #fff;
}

.repository_info {
    display: grid;
}

.close_ic {
    border-radius: 15px;
    transform: scale(1.5);
    display: flex;
    width: 25px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.title {
    align-self: center;
}

input[type="text"] {
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: background-color,border-color .3s linear ;
}

input[type="text"]:focus {
    background-color: #f4f1f1;
}